body{
    font-size: 30px;
    background-color: rgb(54, 38, 38);
    color:white;
 }
  
 #submit{
  
    font-size: 20px;
    border: 0px;
    margin-bottom: 20px;
 }
 #submit:hover{
    background-color: rgb(158, 78, 182);
 }
 